body {
  margin: 0;
  padding: 0;
  font-family: 'Rubik', sans-serif;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  /*min-height: 100vh;*/
}

.fixedHeader {
  position: fixed;
  display: flex;
  background-color: #fff;
  color: #555555;
  width: 100%;
  z-index: 1;
}

.logoAdalab {
  width: 80%;
  padding: 10px 0px 10px 20px;
}

.withBorder {
  border-bottom: solid 1px #e0e0e0;
}

.menuOptions {
  display: flex;
  margin-right: 20px;
}

a {
  margin: 10px;
  color: #555555;
}

a:link {
  text-decoration: none;
}

a:visited {
  color: #555555;
}

a:hover {
  color: #3CDBC0;
  text-decoration: underline;
}

ul {
  list-style-type: none;
}

.background {
  background: url('img/bannerAdalab.jpeg') no-repeat top;
  background-size: cover;
  display: flex;
  flex: 1;
  flex-direction: column;
  /*min-height: 110vh;*/
  /*margin-top: 120px;*/
}

.text {
    margin-top: 15%;
    margin-left: 8%;
    font-weight: bold;
    width: 100px;
    font-size: 3em;
    color: #555555;
    font-family: 'Rubik';
    line-height: 1.2em;
}

.containerAlumnas {
    display: flex;
    justify-content: center;
}

.textFooter {
  color: #555555;
  margin-left: 80px;
  font-size: 13px;
}

.linkFooter {
  color: #aaa;
  font-size: 13px;
}

.linkFooter:hover {
  color: #3CDBC0;
  text-decoration: underline;
}

footer {
  background-color: #252525;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.containerForm {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.containerForm p {
  margin: 70px;
  font-size: 14px;
  color: #555555;
  text-align: left;
}

.form {
  font-family: 'Rubik', sans-serif;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  color: #555555;
}

input, textarea {
 height: 3em;
 background-color: #f5f5f5;
 display: block;
 width: 100%;
 border: none;
 border-radius: 1px;
 margin-bottom: 20px;
}

textarea {
  height: 100px;
}

.formButton {
  font-family: 'Rubik', sans-serif;
  width: 80px;
  height: 30px;
  color: #f5f5f5;
  margin-bottom: 20px;
  background-color: #3CDBC0;
  border: none;
}

@media all and (min-width: 901px) {
  .background {
    min-height: 110vh;
    margin-top: 120px;
  }

  .fixedHeader {
    align-items: center;
    justify-content: space-between;
  }
}

@media all and (min-width: 768px) {
  .containerAlumnas ul {
    display: flex;
    justify-content: space-around;
    width: 600px;
  }

}

@media all and (min-width: 501px) and (max-width: 900px) {
  .fixedHeader {
    align-items: center;
    justify-content: space-between;
  }

  .text {
      margin-top: 17%;
      font-size: 2.5em;
  }

  .background {
    margin-top: 120px;
    background-size: cover;
    min-height: 90vh;
 }

  footer {
    height: 100px;
  }
}

@media all and (min-width: 0px) and (max-width: 500px) {
  .logoAdalab {
    width: 50%;
  }
  .fixedHeader {
    flex-direction: column;
    align-content: flex-start;
  }

  .text {
      margin-top: 20%;
      margin-left: 15%;
      font-size: 2em;
  }

  .background {
    margin-top: 190px;
    background-size: cover;
    min-height: 63vh;
 }

.containerForm {
    padding-top: 100px;
}

.form {
  padding: 25px;
}

  footer {
    height: 70px;
  }
}

/*gris:#555555 grisClaro:#aaaaaa beige:#f5f5f5 verde#3CDBC0 grisOscuro#252525*/
